// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// resources/sass/_variables.scss

// 1. Warna Utama
$primary:       #007bff; // Biru BPS
$success:       #198754;
$info:          #17a2b8; // Biru untuk kartu statistik
$warning:       #ffc107;
$light:         #f8f9fa;
$dark:          #343a40;

// 2. Body & Font
$body-bg: #E6CFA9;
$font-family-sans-serif: 'Nunito', sans-serif;

// 3. Style Komponen
// $border-radius:   0.5rem;
// $card-border-width: 0; // Hapus border default kartu
// $card-box-shadow: 0 0.5rem 1rem rgba($dark, 0.05);